{% extends 'base.html.twig' %}

{% block title %}Covid Chart{% endblock %}

{% block body %}
    <h1>Total number of cases and deaths in {{ country|capitalize }}</h1>
    {{ render_chart(chart) }}
{% endblock %}
